<h1>About</h1>

<div class="container">
    <p>I am a web developer with a vast array of knowledge in many different front end and back end languages,
    responsive frameworks, databases, and best code practices.</p>
</div>


