<h1>Contact</h1>

<div class="container">
     <h3>
          <ul>
               <li>
                    <a href="https://www.linkedin.com/in/mohd-faizan-siddiqui-234091192/">LinkedIn</a>
               </li>

               <li>
                    <a href="https://www.instagram.com/faizan_siddiqui73/">Instagram</a>
               </li>
               <li>
                    <a href="https://leetcode.com/faizansiddiqui73/">LeetCode</a>
               </li>
               <li>
                    <a href="https://github.com/faizansiddiqui73/">GitHub</a>
               </li>
          </ul>
     </h3>
</div>